@charset "utf-8";

table.view {border:1px solid #A8CFEB;border-collapse: collapse;margin-bottom:5px;}
.view th{ padding-left:10px;padding-right:5px;padding-top:5px;padding-bottom:5px;width: 80px;border: 1px solid silver;background-color:#F1F6FF;}
.view td{ padding-left:10px;padding-right:5px;padding-top:5px;padding-bottom:5px;border: 1px solid silver;background-color:#FAFCFF;}

.toolbar
{
    position: absolute;
    top: 30px;
    right: 10px;
    width: 180px;
    height: 45px;
    border: 1px solid #A8CFEB;
    background-color:#F0F6FF;
    _margin: 0 16px 0 0;
}
.toolbar a{display:block;text-align:center;width:50px;float:left;height:40px;text-decoration:none;margin:0 5px;}
.toolbar a img{border:none;width:16px;height:16px;margin:5px 10px 4px 10px;}