<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:p="http://www.springframework.org/schema/p" 
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xmlns:solr="http://www.springframework.org/schema/data/solr"
	xmlns:rabbit="http://www.springframework.org/schema/rabbit"
	xmlns:websocket="http://www.springframework.org/schema/websocket"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/tx  http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
	http://www.springframework.org/schema/jee  http://www.springframework.org/schema/jee/spring-jee-4.2.xsd
	http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context-4.2.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.2.xsd
	http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo.xsd
	http://www.springframework.org/schema/data/solr http://www.springframework.org/schema/data/solr/spring-solr-1.0.xsd
	http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit-1.2.xsd 
	http://www.springframework.org/schema/websocket http://www.springframework.org/schema/websocket/spring-websocket.xsd
	http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.2.xsd"
	default-lazy-init="true">
	
   	<!-- 加载配置文件 -->
	<bean id="propertyMananger" class="com.common.config.common.DecryptPropertyPlaceholderConfigurer">
		<property name="filePattern" value="spring-*.properties"></property>
		<property name="fileEncoding" value="utf-8" />
		<!-- 配置common的文件路径（通用配置文件，随系统一起使用） -->
		<property name="commonSystePath" value="/etc/icconfig/mornsun/common" />
		<!-- 配置linux的文件路径 -->
		<property name="linuxSystePath" value="/etc/icconfig/mornsun/message" />
		<!-- 配置windows的文件路径 -->
		<property name="windowsSystemPath" value="" />
	</bean>
    
</beans>