<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc  http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
		http://www.springframework.org/schema/tx  http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
        http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context-4.2.xsd
        http://www.springframework.org/schema/aop  http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.2.xsd"
	default-autowire="byName">

	<import resource="classpath*:springmvc-*.xml"/>
	
	<!-- 自定义拦截链配置 -->
   	<mvc:interceptors>
		<mvc:interceptor>
			<!-- 一级目录   -->
			<mvc:mapping path="/**" />  
			<mvc:exclude-mapping path="/**/**/sync"/>
			<mvc:exclude-mapping path="/**/**/list"/>
			<mvc:exclude-mapping path="/resources/**"/>
			<bean class="com.siems.schedule.manager.inteceptor.LoginInterceptor">
			</bean>
		</mvc:interceptor>
	</mvc:interceptors>
    
</beans>