<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://code.alibabatech.com/schema/dubbo
	http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	
	<!-- dubbo端口号20794 -->
	<dubbo:protocol name="dubbo" port="${dubbo.provider.port}" dispather="all" threadpool="cached" threads="${dubbo.provider.threads}" />
		
	<!-- siems对外提供的接口 -->
	<!-- 声明需要暴露的服务接口 -->
	<dubbo:service id="brandApi" interface="com.siems.jsw.api.api.brand.IBrandApi" ref="brandApiImpl" version="${dubbo.svr.version}" owner="luohj"/>
	<dubbo:service id="customerApi" interface="com.siems.jsw.api.api.customer.ICustomerApi" ref="customerApiImpl" version="${dubbo.svr.version}" owner="luohj"/>
	<dubbo:service id="deptApi" interface="com.siems.jsw.api.api.dept.IDeptApi" ref="deptApiImpl" version="${dubbo.svr.version}" owner="luohj"/>
	<dubbo:service id="displayApi" interface="com.siems.jsw.api.api.display.base.IDisplayApi" ref="displayApiImpl" version="${dubbo.svr.version}" owner="luohj"/>
	<dubbo:service id="displayHarewareApi" interface="com.siems.jsw.api.api.display.hareware.IDisplayHarewareApi" ref="displayHarewareApiImpl" version="${dubbo.svr.version}" owner="luohj"/>
	<dubbo:service id="displayPortApi" interface="com.siems.jsw.api.api.display.port.IDisplayPortApi" ref="displayPortApiImpl" version="${dubbo.svr.version}" owner="luohj"/>
	<dubbo:service id="functionApi" interface="com.siems.jsw.api.api.function.IFunctionApi" ref="functionApiImpl" version="${dubbo.svr.version}" owner="luohj"/>
	<dubbo:service id="hardwareApi" interface="com.siems.jsw.api.api.hardware.IHardwareApi" ref="hardwareApiImpl" version="${dubbo.svr.version}" owner="luohj"/>
	<dubbo:service id="logApi" interface="com.siems.jsw.api.api.log.ILogApi" ref="logApiImpl" version="${dubbo.svr.version}" owner="luohj"/>
	<dubbo:service id="mediaApi" interface="com.siems.jsw.api.api.media.IMediaApi" ref="mediaApiImpl" version="${dubbo.svr.version}" owner="luohj"/>
	<dubbo:service id="productApi" interface="com.siems.jsw.api.api.product.base.IProductApi" ref="productApiImpl" version="${dubbo.svr.version}" owner="luohj"/>
	<dubbo:service id="productShopApi" interface="com.siems.jsw.api.api.product.shop.IProductShopApi" ref="productShopApiImpl" version="${dubbo.svr.version}" owner="luohj"/>
	<dubbo:service id="productTypeApi" interface="com.siems.jsw.api.api.product.type.IProductTypeApi" ref="productTypeApiImpl" version="${dubbo.svr.version}" owner="luohj"/>
	<dubbo:service id="roleApi" interface="com.siems.jsw.api.api.role.base.IRoleApi" ref="roleApiImpl" version="${dubbo.svr.version}" owner="luohj"/>
	<dubbo:service id="roleFunctionApi" interface="com.siems.jsw.api.api.role.function.IRoleFunctionApi" ref="roleFunctionApiImpl" version="${dubbo.svr.version}" owner="luohj"/>
	<dubbo:service id="shopApi" interface="com.siems.jsw.api.api.shop.IShopApi" ref="shopApiImpl" version="${dubbo.svr.version}" owner="luohj"/>
	<dubbo:service id="softApi" interface="com.siems.jsw.api.api.soft.ISoftApi" ref="softApiImpl" version="${dubbo.svr.version}" owner="luohj"/>
	<dubbo:service id="userApi" interface="com.siems.jsw.api.api.user.base.IUserApi" ref="userApiImpl" version="${dubbo.svr.version}" owner="luohj"/>
	<dubbo:service id="userRoleApi" interface="com.siems.jsw.api.api.user.role.IUserRoleApi" ref="userRoleApiImpl" version="${dubbo.svr.version}" owner="luohj"/>

</beans>